.grid_container {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.grid_container > div {
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

button {
    padding: 1em;
    margin: 1em;
}